body {
    font-family: Arial, sans-serif;
    background-color: #b5b5b5;
    margin: 0;
    padding: 0;
    text-align: center;
}

header {
    background-color: #228B22;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

header .logo img {
    height: 40px;
}

header nav {
    flex-grow: 1;
    text-align: center;
}

header nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    padding: 10px 20px;
    background-color: #32CD32;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

header nav ul li a:hover {
    background-color: #1e7b1e;
    transform: scale(1.1);
}

.store-image {
    height: 300px; /* Adjust the height as needed */
    background-color: #f0f0f0; /* Set a background color if no image is available */
    background-image: url('images/agropecuaria.jpg'); /* Replace with your actual image path */
    background-size: cover;
    background-position: center;
}

.carrossel {
    display: flex;
    justify-content: center;
    margin-top: 30px;
    overflow: hidden;
}

.carrossel .produto {
    margin: 0 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

.carrossel .produto img {
    width: 200px;
    height: 200px;
    border-radius: 10px;
    transition: transform 0.3s ease;
}

.carrossel .produto p {
    margin: 10px 0;
}

.carrossel .produto:hover {
    transform: scale(1.1);
}

.categories ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the categories */
}

.categories ul li {
    margin: 10px;
}

.categories ul li a {
    text-decoration: none;
    color: #000;
    padding: 10px 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.categories ul li a:hover {
    background-color: #ddd;
}

.categories ul li a.all-categories {
    background-color: #ffcc00; /* Different color for "All Categories" */
}

.categories ul li a.all-categories:hover {
    background-color: #ff9900; /* Hover color for "All Categories" */
}

.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the products */
}

.produto {
    margin: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: transform 0.3s;
    text-align: center;
    width: 200px; /* Adjust the width as needed */
}

.produto img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
}

.produto:hover {
    transform: scale(1.1); /* Make the product bigger on hover */
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #228B22;
    color: white;
}